.homePageContainer {
  display: grid;
  grid-template-columns: 1fr min(50vw, 648px) 1fr;
  width: 100vw;
  height: 100vh;
  gap: 20px;

  background-color: #18191a;
}
.navbar-icon-panel {
  display: flex;
  justify-self: flex-end;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 150px;
  gap: 5px;
  margin-right: 10px;
}
.navigate-container .icon {
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  border-radius: 100%;

  width: 40px;
  height: 40px;
}
.bell-icon {
  width: 20px;
  height: 20px;

  fill: #c9cccf;
}
.message-icon {
  width: 22px;
  height: 22px;

  fill: #c9cccf;
}
