* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --dark-background: #18191a;
  --lighter-background: #242526;
  --grey-component-background: #3a3b3c;
  --font-roboto: 'Roboto Mono', monospace;
}
body {
  background-color: var(--dark-background);
  width: 100vw;
  height: 100vh;
}
.navigate-container {
  height: 56px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr min(50vw, 648px) 1fr;
  align-items: center;
  border-bottom: 1.5px solid var(--grey-component-background);
  background-color: var(--lighter-background);
  gap: 20px;
}
.logo {
  font-size: 25px;
  min-width: 300px;
  font-weight: bolder;
  cursor: pointer;
  color: #ffffff;
  padding-left: 20px;
  font-family: 'Roboto Mono', monospace;
}

.search-wrapper {
  background-color: var(--grey-component-background);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 40px;
  border-radius: 20px;
  margin-inline: auto;
}

.magnifier-icon {
  margin-left: 5px;
  align-items: center;
  fill: #aeb1b6;
  transform: scaleX(-1);
}

.search-input {
  display: block;
  width: 100%;
  background-color: transparent;
  border: none;
  height: 100%;
  margin-right: 5px;
}
.search-input:focus {
  outline: none;
}
.search-input::placeholder {
  font-size: 15px;
  color: #6a6b6e;
}
.icon-panel {
  display: flex;
  justify-self: flex-end;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 150px;
  gap: 5px;
  margin-right: 10px;
}
.bell-icon {
  width: 20px;
  height: 20px;
  stroke: #c9cccf;
  fill: #c9cccf;
}
.message-icon {
  width: 22px;
  height: 22px;

  fill: #c9cccf;
}
.navigate-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--grey-component-background);
  cursor: pointer;
  border-radius: 100%;
  background-color: var(--grey-component-background);
  width: 40px;
  height: 40px;
}
